@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

html {
    font-size: 15px;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.qr {
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-top: 1rem;

}

.qr--code {
    margin: 0 auto;
}

.qr--code img {
    border-radius: 15px;
    height: 270px;

}


.qr--information {
    text-align: center;
    padding: 0 2.3rem 1rem 2.3rem;

}

.qr--title {
    font-size: 1.3rem;

}

.qr--description {
    color: var(--grayish-blue);
}